.fixed-bottom{
    position: absolute;
    left:70%;
    top: 85%;
    padding: 10px;
    background-color: rgb(106, 202, 10);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border-color: rgb(106, 202, 10);
}
.fa-whatsapp{
    color: white;
}