.whyUs_wrapper{
    min-height: 300px;
    margin-top: 60px;
}
.whyUsHeading{
    font-size: 23px;
    font-weight: 700;
}
.manImg{
    width: 300px;
    height: 300px;
}
.img-box{
    padding-left: 100px;
    align-items: flex-end;
}
.whyUsText{
    color: rgb(54, 47, 47);
    padding-left: 50px;
    font-size: 14px;
    margin-bottom: 50px;
}
@media screen and (min-width:769px) and (max-width:920px){
    .whyUsText{
        padding-right: 50px;

    }
}

@media screen and (max-width:750px){
    .manImg{
        width: 95%;
    }
    .img-box{
        padding-left: 20px;
    }
    #whyusText{
        padding-left: 20px;
        margin-top: 10px;
    }
    .whyUsHeading{
        /* padding-left: 20px; */
        margin-top: 40px;
    }
    .whyUs_wrapper{
        height: fit-content;
    }
}