.QL_headings{
    color: rgb(9, 9, 26);
    margin-top: 30px;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 20px;
}
.QL_items{
    background-color: rgb(9, 9, 26);
    height: 200px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 20px;
    padding-top: 20px;
    color: rgb(184, 181, 181);
}
.QLs{
    height: fit-content;
}
.quickLinkTexts{
    margin-top: 20px;
    font-weight: bolder;
}

@media screen and (max-width:750px) {
    .QL_items{
        margin-left: 10px;
    }
    .quickLinkTexts{
        margin-top: 14px;
        font-size: 14px;
        font-weight: bolder;
        overflow: hidden;
    }
}