.colored-box{
    background-color: #2b044d;
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 10px;
}
.balance-value{
    font-size: 18px;
    font-weight: 600;
}

.dark_badge{
    /* padding: px; */
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
    background-color: rgb(9, 9, 26);
    border-radius: 30px;
    width: fit-content;

}
.avatar_profile_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.name{
    font-size: 13px;
}
.colored_box_text{
    font-size: 13px;
    color: whitesmoke;
    margin-top: 10px;
    font-weight: bolder;
}
.DashboardSpan{
    padding-top: 10px;
    color: rgb(9, 9, 26);
    font-weight: bolder;
}
.btn-fund-wallet{
    font-size: 12px;
    font-weight: 500;
}
.user-name{
    font-size: 12px;
    margin-left: 10px;
}