.statistics{
    margin-top: 20px;
    background-color: #8965a8;
    padding-top:20px;
    border-radius: 5px;
}
.stat-header{
    color:rgb(172, 30, 30);
    margin-left:20px;
    font-weight:800;
    font-size: 20px;
}
.stat-grid{
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    border-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    margin-left: 14px;
    margin-right:14px;
}
.stat-grid-bold-text{
    font-weight: 500;
    font-size: 18px;
    color: rgb(71, 64, 64);
}
.stat-grid-item{
    background-color: white;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stat-grid-text{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
}
.stat-amount{
    margin-top: 10px;
    font-size: 15px;
}

@media screen and (max-width:768px) {
    .stat-grid-bold-text{
        font-size: 16px;
    }
}