.form-box{
    width: 40%;
    margin-left: 20%;
    background-color: white;
    padding:30px 30px 30px 30px;

}
.input-group{
    margin-bottom: 30px;
}
.input-group-addon{
    background-color: rgb(194, 191, 191);
    width: 40px;
}
.form-boxes{
    margin-bottom: 10px;
}
.signUp_wrapper{
    padding-top: 50px;
}
.signup_heading{
    margin-bottom: 20px;
    color: rgb(110, 5, 110);
}
.btn-submit{
    background-color: fuchsia;
    color: whitesmoke;
}

@media screen and (max-width:700px){
    .form-box{
        width: 80%;
        margin-left: 5%;
    } 
}
