.btn-login{
    margin-top: 30px;
}
.login-form-group{
    margin-bottom: 30px;
}
#login-form-box{
    width: 30%;
}
#login_wrapper{
    margin-top: 70px;
}



@media screen and (max-width:1000px) {
    #login-form-box{
        width: 70%;
        margin-left: 10%;
    }
}