.funfact_wrapper{
    width: 100%;
    height: 300px;
    background-color: rgb(49, 4, 49);
    padding-top: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: rgb(83, 22, 83); */
}
.funfact-heading{
    color: whitesmoke;
    font-weight: bolder;
    font-family: Lato;
    font-size: 40px;
}
.funfactText{
    color: white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 23px;
}
.fun-grid{
    margin-top: 30px;
}

@media screen and (max-width:768px) {
    .funfactText{
        font-size: 16px;
    }
}