.gridWrapper{
    margin-top: 80px;
    
}
.additional_services{
    padding-left: 100px;
    padding-right: 100px;
}
.hr{
    width: 50px;
    border: 2px solid fuchsia;
}
.bold-text{
    font-weight: bolder;
    font-size: 30px;
    font-family: Lato;
}
.light-text{
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    color: grey;
}
.grid{
    height: fit-content;
    padding-left: 100px;
    /* margin-left: 0 auto; */
    margin-top: 40px;
}
.grid-item{
    background-color:#f6f9fc;
    margin-right:30px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.fa-anchor, .fa-first-order, .fa-firefox{
    color: whitesmoke;
}

.grid-text{
    font-family: 'Montserrat', sans-serif;
    /* color: rgb(75, 72, 72); */
    color: black;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}
.card-headers{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 20px;
}
.btn-card-divider{
    background-color: inherit;
    border: 2px solid whitesmoke;
    border-bottom: 2px solid rgb(83, 22, 83);
    width: 40px;
}

@media screen and (max-width:1300px){
    .grid-item{
        margin-bottom: 30px;
    }
    .grid-item{
        margin-right:10px;
    }
}


@media screen and (max-width:768px){
    .additional_services{
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid-item{
        margin-bottom: 30px;
    }
    .grid{
        padding-left: 0px;
        height: fit-content;
    }
    .grid-item{
        margin-right:20px;
        margin-left: 20px;
        padding-left: 30px;

        height: fit-content;
        width: 90%;
        border-radius: 10px;
    }
    .grid-tetx{
        margin-top: 20px;
    }
}


