.wrapper{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 40px;
    font-family: Lato;  
}
.colored{
    color: fuchsia;
}
.network-img{
    width: 300px;
    height: 300px;
   border-radius: 50%;
}
.white-text{
    color: white;
}
.medium-text{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.faint-text{
    margin-top: 20px;
    color:white;
    font-weight: 300;
    font-size: 15px;
}
.btnJoin{
    width: 100px;
}
.overlay{
    background-color: black;
    opacity: 0.9;
    padding-top: 70px;
    padding-bottom: 70px;
}
/* @media screen and (min-width:769px) and (max-width:) */
@media screen and (max-width:768px){
    .wrapper{
        font-size: 25px;
        margin-top: 0px;
     
    }
    .overlay{
        padding-left:0px;
    }
    .network-img{
        width: 150px;
        height: 150px;
        
    }
    .network-img-box{
        margin-top: 40px;
        
    }
    .medium-text{
        font-size: 15px;
    }
    .faint-text{
        font-size: 12px;
    }
    .text{
        margin-bottom: 30px;
    }
}