#service-header{
    margin-bottom: -10px;
}
.servicesContainer{
    margin-top: 60px;
}
.service-light{
    color: rgb(148, 109, 148);
    font-weight: 400;
    font-size: 19px;
    font-family: 'Lato';
}

.header-divider{
    background-color: inherit;
    border: 2px solid whitesmoke;
    border-bottom: 2px solid rgb(83, 22, 83);
    width: 70px;
    
}