.whyUs_wrapper{
    height: 300px;
    margin-top: 60px;
}
.manImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img-box{
    padding-left: 70px;
    align-items: flex-end;
}
#whyusText{
    color: rgb(54, 47, 47);
    padding-left: 50px;
}

@media screen and (max-width:750px){
    .manImg{
        width: 95%;
    }
    .img-box{
        padding-left: 20px;
    }
    #whyusText{
        padding-left: 20px;
        margin-top: 10px;
    }
    .whyUsHeading{
        /* padding-left: 20px; */
        margin-top: 40px;
    }
    .whyUs_wrapper{
        height: fit-content;
    }
}